CONF=YOUR_CONF_DIR
STACKS=YOUR_INSTALL_DIR
TZ=America/New_York
IP=YOUR_SERVER_IP
HOMEPAGE_GROUP=Data
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DBT_DOCS_PORT=8082
AIRFLOW_UID=1000  # service-specific: must match airflow AIRFLOW_UID
