IP=127.0.0.1
AIRFLOW_HOST=localhost
AIRFLOW_PORT=8080
AIRFLOW_USER=REPLACE_ME
AIRFLOW_PASS=REPLACE_ME
SUPERSET_HOST=localhost
SUPERSET_PORT=8088
SUPERSET_USER=REPLACE_ME
SUPERSET_PASS=REPLACE_ME
EDW_HOST=postgres
EDW_PORT=5432
EDW_DB=grocery
EDW_USER=postgres
EDW_PASS=REPLACE_ME
VERISIM_HOST=localhost
VERISIM_API_PORT=8010
VERISIM_DB_PORT=5499
VERISIM_DB_USER=verisim
VERISIM_DB_PASS=REPLACE_ME
VERISIM_DB=grocery
DBT_DIR=/opt/airflow/dbt/grocery
LOG_DIR=/tmp/e2e-test-logs
